<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/loginregister.css">
    <title>Sign up</title>
</head>
<body>

    <section class="background">
        <h2 class="titleh2"><span>Sign up</span></h2>
        <div class="content">
            <div class="signup-container">
                <form action="/register" method="post">
                    <div class="input-box">
                        <input type="text" name="user" id="user" placeholder="create username">
                    </div>
                    <div class="input-box">
                        <input type="text" name="fullname" id="fullname" placeholder="full name">
                    </div>
                    <div class="input-box">
                        <input type="password" name="pass" id="pass" placeholder="create password">
                    </div>
                    <div class="input-box-button">
                        <input type="submit" value="signup">
                    </div>
                </form>
            
            </div>
        </div>
    </section>
    

    <!--Sweetalert2-->
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
   <% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%=alertTitle%>',
            text: '<%=alertMessage%>',
            icon: '<%=alertIcon%>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location= '/login <%= ruta %>'
        })
    </script>
    <%} %>  
</body>
</html>